body{
  background-color: #cca4ac; /* main styling */
  font: normal 16px/1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.timeline-item-more-info { 
  background-color: #c37960; /* more information */
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  color: white;
}

.timeline-item {
  background-color: bisque; /* this is the item */
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  text-align: center;
}

.timeline ul li {
  list-style-type: none; /* this is an unordered list of the timeline */
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.modal-container {
background-color: #cca4ac; 
position: absolute;
height: 280px;
width: 340px;
border-radius: 10px;
box-sizing: border-box;
justify-content: center;
align-items: center;
}

.h1 {
  color: black; /* this is the title */
  margin: 5px;
  font-weight: bold;
  font-size: 24px;
  padding: 15px 25px 35px 45px;
  text-align: center;
  line-height: normal;
  margin: auto;
}

.p {
  color: black; /* this is the full description */
  font-size: 18px;
  text-align: center;
  margin: auto;
  border-style: solid;
  line-height: normal;
  padding: 10px 20px 30px 40px;
}

.dialog { 
  background-color: white; /* this dialog will have a white background */
  position: absolute;
  top: 0%;
  bottom: 0;
  right: 0;
  left: 0;
}