@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.intro{
  background: #dceaf5;
  width: 1250px;
  height: 284px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 25px;
  margin-top: 15px;
}

body{
  background-color: #f79f92;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

.intro h3{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

.timeline-item-more-info { 
  background-color: #f79f92; 
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  color: white;
}

.timeline-item {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fee19f; 
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  text-align: center;
}

.modal-container {
background: #dceaf5;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: fixed;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
}

.dialog h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 35px; 
  font-weight: bold;
  text-align: center;
  line-height: normal;
  margin: auto;
}

.dialog p {
  padding-top: 15px;
  color: black; 
  font-size: 15px;
  text-align: center;
  margin: auto;
  line-height: normal;
}

.dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:fixed;
}

.dialog.hide {
  display: none;
}

img {
  height: 375px;
  width: 500px;
  object-fit: contain;
 }
 
  background-color: white; 
  position: absolute;
  top: 0%;
  bottom: 0;
  right: 0;
  left: 0;
 display: block;
}



.dialog.hide{
  display:none;
}

